* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: #fff;
}
.todo-app {
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-around;
  background-color: #f8efd4;
  padding: 20px;
  margin-bottom: 20px;
}
h1 {
  padding: 30px;
  color: #132743;
  font-size: 2.4em;
  font-weight: bolder;
}

.complete {
  text-decoration: line-through;
  opacity: 0.7;
}

.todo-form {
  margin: 32px auto;
}

.todo-input {
  width: 260px;
}

.todo-button {
  padding: 16px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #132743;
  color: #fff;
  font-weight: bolder;
  text-transform: capitalize;
  margin-left: 12px;
}

.edit-input {
  border-radius: 4px 0 0 4px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1em;
  background: transparent;
  color: #065446;
  font-weight: bolder;
}

.todo-button.edit {
  background: #fff;
  padding: 16px 22px;
  color: #d7385e;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #132743;
  font-weight: bolder;
  padding: 16px;
}
.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}
.star-icon {
  color: rgb(151, 148, 148);
}
.important {
  animation: important 0.5s linear both;
  color: #f0a500;
  font-size: 1.5em;
}
@keyframes important {
  0% {
    transform: scale(1) rotate3d(-1, 1, 0, 0deg);
  }
  50% {
    transform: scale(0.4) rotate3d(-1, 1, 0, -90deg);
  }
  100% {
    transform: scale(1) rotate3d(-1, 1, 0, -180deg);
  }
}

.delete-icon {
  margin-right: 15px;
  color: #d7385e;
}

.edit-icon {
  margin-right: 15px;
}

.no-search {
  background-color: #132743;
  color: #f8efd4;
  font-size: xx-large;
  font-weight: bolder;
  width: 520px;
  margin: 40px auto;
  padding: 80px;
}
